[linode]
token = <linode-api-token>

[aws]
aws_access_key_id     = <aws-access-key>
aws_secret_access_key = <aws-secret-key>

[digitalocean]
token = <digitalocean-api-token>

[edgegrid]
account_key   = <akamai-account-id>
host          = <edgegrid-api-host>
access_token  = <edgegrid-api-access-token>
client_token  = <edgegrid-api-client-token>
client_secret = <edgegrid-api-client-secret>