[linode]
token = <token>

[aws]
aws_access_key_id     = <aws-access-key>
aws_secret_access_key = <aws-secret-key>

[edgegrid]
account_key   = <akamai-account-id>
host          = <edgegrid-api-client-host>
access_token  = <edgegrid-api-client-access-token>
client_token  = <edgegrid-api-client-token>
client_secret = <edgegrid-api-client-secret>